      <img class="card-img-top" [routerLink]="['/restaurants/details', restaurant.id]" [src]="restaurant.image">
      <div class="card-body">
        <h5 class="card-title" [routerLink]="['/restaurants/details', restaurant.id]">{{restaurant.name}}</h5>
        <p class="card-text" [innerText]="restaurant.description"></p>
        <div class="card-text">
          <small class="text-muted">
            <strong>Opens: </strong>
            <span *ngFor="let day of restaurant.daysOpen">
              {{days[day]+','}}
            </span>
          </small>
          <span *ngIf="restaurant.daysOpen.includes(weekDay)" class="badge badge-success">Open</span>
          <span *ngIf="!restaurant.daysOpen.includes(weekDay)" class="badge badge-danger">Closed</span>
        </div>
        <div class="card-text">
          <small class="text-muted">
            <strong>Phone: </strong>{{restaurant.phone}}
          </small>
        </div>
        <div class="card-text">
          <small class="text-muted">
            <i *ngFor="let fullStar of fullStars" class="fas fa-star"></i>
            <i *ngFor="let emptyStar of emptyStars" class="far fa-star"></i>
            ({{restaurant.stars}})
          </small>
        </div>
        <button *ngIf="restaurant.mine" class="mt-2 btn btn-sm btn-danger btn-delete" (click)="deleteRestaurant()">Delete</button>
        <a href="" *ngIf="restaurant.mine" [routerLink]="['/restaurants/edit', restaurant.id]" class="mt-2 btn btn-sm btn-primary ml-2">Edit</a>
      </div>
      <div class="card-footer">
        <small class="text-muted float-right">
          {{restaurant.distance.toFixed(2)}} km
        </small>
        <small class="text-muted">
          {{restaurant.cuisine}}
        </small>
      </div>
